$clr-primary: #579c87;
$clr-secondary:#FCC946;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* header  */
header {
  background-color: $clr-primary;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 260px;
  @media (max-width: 599px) {
    width: 220px;
  }
}


/* Footer  */
footer {
  width: 100%;
  height: 70px;
  background-color: $clr-primary;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  color: $clr-secondary;
  text-decoration: none;
  @media (max-width: 599px) {
    font-size: 1.3rem;
  }
}

.btn_left {
  margin-left: 3%;
  margin-right: auto;
}

.btn_right {
  margin-right: 3%;
  margin-left: auto;
}

.button_wiggle {
  &:hover {
    animation: headshake 100ms cubic-bezier(0,.7,1,.4) 4;
  }
}

$shake-intensity: 1%;

@keyframes headshake {
  25% {
    transform: translateX($shake-intensity);
  }
  75% {
    transform: translateX($shake-intensity *-1);
  }
}