@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* header  */
header {
  background-color: #579c87;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 260px;
}
@media (max-width: 599px) {
  #logo {
    width: 220px;
  }
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.zoom {
  width: 380px;
  overflow: hidden;
  margin: 50px 30px 0px 30px;
  box-shadow: 0 0 15px lightgrey;
}
@media (max-width: 599px) {
  .zoom {
    width: 280px;
  }
}

.menu {
  width: 380px;
  display: block;
  transform: scale(1);
  transition: transform 600ms ease-in-out;
  opacity: 1;
}
@media (max-width: 599px) {
  .menu {
    width: 280px;
  }
}
.menu:hover {
  transform: scale(1.3);
  opacity: 0.8;
}

.container_prochainement {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: #FCC946;
  margin: 50px 0px 120px 0px;
}
@media (max-width: 599px) {
  .container_prochainement {
    width: 250px;
    font-size: 1.5rem;
  }
}

.load {
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
  padding-bottom: 11px;
}
.load__point {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-right: 3px;
  background-color: #FCC946;
  animation: points 800ms backwards infinite ease-in-out alternate;
}
.load__point--1 {
  animation-delay: 400ms;
}
.load__point--2 {
  animation-delay: 600ms;
}
.load__point--3 {
  animation-delay: 800ms;
}

@keyframes points {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Footer  */
footer {
  width: 100%;
  height: 70px;
  background-color: #579c87;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  color: #FCC946;
  text-decoration: none;
}
@media (max-width: 599px) {
  footer a {
    font-size: 1.3rem;
  }
}

.btn_left {
  margin-left: 3%;
  margin-right: auto;
}

.btn_right {
  margin-right: 3%;
  margin-left: auto;
}

.button_wiggle:hover {
  animation: headshake 100ms cubic-bezier(0, 0.7, 1, 0.4) 4;
}

@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("fonts/Devonshire-Regular.eot");
  src: url("fonts/Devonshire-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Devonshire-Regular.svg") format("svg"), url("fonts/Devonshire-Regular.ttf") format("ttf"), url("fonts/Devonshire-Regular.woff") format("woff");
}
@font-face {
  font-family: "Segoe Print";
  src: url("fonts/Segoe Print.eot");
  src: url("fonts/Segoe Print.eot?#iefix") format("embedded-opentype"), url("fonts/Segoe Print.svg") format("svg"), url("fonts/Segoe Print.ttf") format("ttf"), url("fonts/Segoe Print.woff") format("woff");
}
@font-face {
  font-family: "Croissant One";
  src: url("fonts/Croissant One.eot");
  src: url("fonts/Croissant One.eot?#iefix") format("embedded-opentype"), url("fonts/Croissant One.svg") format("svg"), url("fonts/Croissant One.ttf") format("ttf"), url("fonts/Croissant One.woff") format("woff");
}
@font-face {
  font-family: "Cardiff V2";
  src: url("fonts/Cardiff V2.eot");
  src: url("fonts/Cardiff V2.eot?#iefix") format("embedded-opentype"), url("fonts/Cardiff V2.svg") format("svg"), url("fonts/Cardiff V2.ttf") format("ttf"), url("fonts/Cardiff V2.woff") format("woff");
}
@font-face {
  font-family: "Dancing Script";
  src: url("fonts/Dancing Script.eot");
  src: url("fonts/Dancing Script.eot?#iefix") format("embedded-opentype"), url("fonts/Dancing Script.svg") format("svg"), url("fonts/Dancing Script.ttf") format("ttf"), url("fonts/Dancing Script.woff") format("woff");
}
.container_page_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
@media (max-width: 599px) {
  h1 {
    font-size: 1.7em;
  }
}

.menu_description {
  width: 60%;
  min-width: 480px;
  height: auto;
  min-height: 1250px;
  box-shadow: 0 0 15px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 599px) {
  .menu_description {
    width: 80%;
    min-width: 0;
  }
}
.menu_description--la_note {
  background-color: #fcdfdb;
  color: #3d1319;
}
.menu_description--le_chic {
  background-color: #fff5fe;
}
.menu_description--le_delice {
  background-color: #edefef;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0;
}
.titre h2 {
  margin: 0;
}
@media (max-width: 599px) {
  .titre h2 {
    font-size: 1.2em;
  }
}
.titre--la_note {
  font-family: Devonshire-Regular;
  font-size: 1.7em;
}
.titre--la_note img {
  width: 30%;
}
@media (max-width: 599px) {
  .titre--la_note img {
    width: 25%;
  }
}
.titre--le_chic {
  height: 130px;
  font-family: Croissant One;
  font-size: 1.5em;
  background: linear-gradient(to right, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titre--le_delice {
  height: 130px;
  font-family: Dancing Script;
  font-size: 2.5em;
  background: linear-gradient(to right, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  width: 100%;
  margin-bottom: 60px;
}
@media (max-width: 599px) {
  section {
    margin-bottom: 10px;
  }
}
section .sous-titre {
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 599px) {
  section .sous-titre img {
    width: 70px;
  }
}
section .sous-titre--la_note {
  margin-left: 70px;
  margin-right: 70px;
  font-family: Segoe Print;
}
section .sous-titre--la_note img {
  width: 25%;
  height: 8px;
}
section .sous-titre--le_chic {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Cardiff V2;
}
section .sous-titre--le_chic--entrée {
  color: #c67412;
}
section .sous-titre--le_chic--plat {
  color: #a56799;
}
section .sous-titre--le_chic--dessert {
  color: #6e4ccc;
}
section .sous-titre--le_chic img {
  width: 25%;
  height: 8px;
}
section .sous-titre--le_delice {
  margin-left: 40px;
  margin-right: 40px;
  font-family: Segoe Print;
  font-size: 1em;
  color: #000000;
}
section .sous-titre--le_delice img {
  width: 25%;
  height: 8px;
}
section .texte {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
section .texte p {
  line-height: 1.2em;
}
section .texte__plat {
  max-width: 75%;
}
section .texte__prix {
  font-weight: bold;
}
section .texte__prix--le_chic {
  font-size: 1.1em;
}
section .texte--la_note {
  margin-left: 70px;
  margin-right: 70px;
  font-family: Segoe Print;
}
section .texte--le_chic {
  margin-left: 110px;
  margin-right: 110px;
  font-family: Cardiff V2;
}
section .texte--le_chic--entrée {
  color: #c67412;
  font-size: 1.1em;
}
section .texte--le_chic--plat {
  color: #a56799;
  font-size: 1.1em;
}
section .texte--le_chic--dessert {
  color: #6e4ccc;
  font-size: 1.1em;
}
section .texte--le_delice {
  margin-left: 110px;
  margin-right: 110px;
  font-family: Segoe Print;
}

h3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #3d1319;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: 250ms linear;
}
h3::before:focus {
  visibility: visible;
  transform: scaleX(1);
}

.final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .final {
    margin-bottom: 10px;
  }
}
.final img {
  height: 50px;
  margin-right: 15px;
}
@media (max-width: 599px) {
  .final img {
    height: 38px;
  }
}
.final p {
  font-family: Devonshire-Regular;
  font-size: 2.7em;
}
@media (max-width: 599px) {
  .final p {
    font-size: 2em;
  }
}

.btn-retour {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8em;
  margin-top: 70px;
  margin-bottom: 130px;
}
@media (max-width: 599px) {
  .btn-retour {
    width: 180px;
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 120px;
  }
}
.btn-retour a {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #579c87;
  text-decoration: none;
  color: #FCC946;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-retour a img {
  width: 20px;
  margin-right: 10px;
}
.btn-retour a:hover {
  color: rgba(252, 201, 70, 0.7);
}

/*# sourceMappingURL=style.css.map */
