@font-face {font-family: "Devonshire-Regular";
  src: url("fonts/Devonshire-Regular.eot");
  src: url("fonts/Devonshire-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/Devonshire-Regular.svg") format("svg"),
  url("fonts/Devonshire-Regular.ttf") format("ttf"),
  url("fonts/Devonshire-Regular.woff") format("woff"),
}

@font-face {font-family: "Segoe Print";
  src: url("fonts/Segoe Print.eot");
  src: url("fonts/Segoe Print.eot?#iefix") format("embedded-opentype"),
  url("fonts/Segoe Print.svg") format("svg"),
  url("fonts/Segoe Print.ttf") format("ttf"),
  url("fonts/Segoe Print.woff") format("woff"),
}

@font-face {font-family: "Croissant One";
  src: url("fonts/Croissant One.eot");
  src: url("fonts/Croissant One.eot?#iefix") format("embedded-opentype"),
  url("fonts/Croissant One.svg") format("svg"),
  url("fonts/Croissant One.ttf") format("ttf"),
  url("fonts/Croissant One.woff") format("woff"),
}

@font-face {font-family: "Cardiff V2";
  src: url("fonts/Cardiff V2.eot");
  src: url("fonts/Cardiff V2.eot?#iefix") format("embedded-opentype"),
  url("fonts/Cardiff V2.svg") format("svg"),
  url("fonts/Cardiff V2.ttf") format("ttf"),
  url("fonts/Cardiff V2.woff") format("woff"),
}

@font-face {font-family: "Dancing Script";
  src: url("fonts/Dancing Script.eot");
  src: url("fonts/Dancing Script.eot?#iefix") format("embedded-opentype"),
  url("fonts/Dancing Script.svg") format("svg"),
  url("fonts/Dancing Script.ttf") format("ttf"),
  url("fonts/Dancing Script.woff") format("woff"),
}

@font-face {font-family: "Kaushan Script";
  src: url("fonts/Kaushan Script.eot");
  src: url("fonts/Kaushan Script.eot?#iefix") format("embedded-opentype"),
  url("fonts/Kaushan Script.svg") format("svg"),
  url("fonts/Kaushan Script.ttf") format("ttf"),
  url("fonts/Kaushan Script.woff") format("woff"),
}