$clr-note: #3d1319;
$clr-note2: #f05861;

$clr-entree: #c67412;
$clr-plat: #a56799;
$clr-dessert: #6e4ccc;

$clr-delice-blue-dark: #0228dd;
$clr-delice-blue-medium: #0670f3;
$clr-delice-blue-light: #229df9;

$clr-palette-dark: #3d923a;
$clr-palette-light: #beff7f;