/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.zoom {
  width: 380px;
  // max-width: 380px;
  overflow: hidden;
  margin: 50px 30px 0px 30px;
  box-shadow: 0 0 15px lightgrey;
  @media (max-width: 599px) {
    width: 280px;
  }
}

.menu {
  width: 380px;
  display: block;
  transform: scale(1);
  transition: all 600ms ease-in-out;
  // animation: opacity 750ms ease-in-out;
  opacity: .8;
  @media (max-width: 599px) {
    width: 280px;
  }
  &:hover {
    // max-width: 380px;
    transform: scale(1.3);
    opacity: 1;
    // box-shadow: none;
  }
}

.container_prochainement {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  background-color: $clr-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: $clr-secondary;
  margin: 50px 0px 120px 0px;
  @media (max-width: 599px) {
    width: 250px;
    font-size: 1.5rem;
  }
}

.load {
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
  padding-bottom: 11px;
  &__point {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    margin-right: 3px;
    background-color: $clr-secondary;
    animation: points 800ms backwards infinite ease-in-out alternate;
    &--1 {
      animation-delay: 400ms;
    }
    &--2 {
      animation-delay: 600ms;
    }
    &--3 {
      animation-delay: 800ms;
    }
  }
}


@keyframes points {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}