// Page menu 1

@font-face {font-family: "Devonshire-Regular";
    src: url("fonts/Devonshire-Regular.eot"); 
    src: url("fonts/Devonshire-Regular.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Devonshire-Regular.svg") format("svg"),
    url("fonts/Devonshire-Regular.ttf") format("ttf"), 
    url("fonts/Devonshire-Regular.woff") format("woff"), 
  }
  
@font-face {font-family: "Segoe Print";
    src: url("fonts/Segoe Print.eot"); 
    src: url("fonts/Segoe Print.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Segoe Print.svg") format("svg"),
    url("fonts/Segoe Print.ttf") format("ttf"), 
    url("fonts/Segoe Print.woff") format("woff"), 
}

@font-face {font-family: "Croissant One";
    src: url("fonts/Croissant One.eot"); 
    src: url("fonts/Croissant One.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Croissant One.svg") format("svg"),
    url("fonts/Croissant One.ttf") format("ttf"), 
    url("fonts/Croissant One.woff") format("woff"), 
}

@font-face {font-family: "Cardiff V2";
    src: url("fonts/Cardiff V2.eot"); 
    src: url("fonts/Cardiff V2.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Cardiff V2.svg") format("svg"),
    url("fonts/Cardiff V2.ttf") format("ttf"), 
    url("fonts/Cardiff V2.woff") format("woff"), 
}

@font-face {font-family: "Dancing Script";
    src: url("fonts/Dancing Script.eot"); 
    src: url("fonts/Dancing Script.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Dancing Script.svg") format("svg"),
    url("fonts/Dancing Script.ttf") format("ttf"), 
    url("fonts/Dancing Script.woff") format("woff"), 
}

@font-face {font-family: "Kaushan Script";
    src: url("fonts/Kaushan Script.eot"); 
    src: url("fonts/Kaushan Script.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Kaushan Script.svg") format("svg"),
    url("fonts/Kaushan Script.ttf") format("ttf"), 
    url("fonts/Kaushan Script.woff") format("woff"), 
}

$clr-note: #3d1319;

$clr-entree: #c67412;
$clr-plat: #a56799;
$clr-dessert: #6e4ccc;

$clr-delice-blue-dark: #0228dd;
$clr-delice-blue-medium: #0670f3;
$clr-delice-blue-light: #229df9;

$clr-palette-dark: #3d923a;
$clr-palette-light: #beff7f;

.container_page_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    @media (max-width: 599px) {
        font-size: 1.7em;
    }
}
  
.menu_description {
    width: 60%;
    min-width: 480px;
    height: auto;
    min-height: 1250px;
    box-shadow: 0 0 15px lightgrey;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    @media (max-width: 599px) {
        width: 80%;
        min-width: 0;
    }
    &--la_note {
        background-color: #fcdfdb;
        // color: #3d1319;
    }
    &--le_chic {
        background-color: #fff5fe;
    }
    &--le_delice {
        background-color: #edefef;
    }
    &--la_palette {
        background-color: #fdfffd;
    }
}
  
.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
    h2 {
      margin: 0;
      @media (max-width: 599px) {
        font-size: 1.2em;
    }
    }
    &--la_note {
        font-family: Devonshire-Regular;
        font-size: 1.7em;
        color: $clr-note;
        img {
            width: 30%;
            @media (max-width: 599px) {
                width: 25%;
            }
        }
    }
    &--le_chic {
        width: 100%;
        height: 130px;
        font-family: Croissant One;
        font-size: 1.5em;
        background: linear-gradient(to right, $clr-entree, $clr-dessert); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--le_delice {
        width: 100%;
        height: 130px;
        font-family: Dancing Script;
        font-size: 2.5em;
        // color: $clr-delice-blue-light;
        background: linear-gradient(50deg, $clr-delice-blue-dark 30%, $clr-delice-blue-light 70%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--la_palette {
        width: 100%;
        height: 130px;
        font-family: Kaushan Script;
        font-size: 2.5em;
        // color: $clr-palette-dark
        background: linear-gradient(90deg, $clr-palette-dark 5%, $clr-palette-light 80%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
  
section {
    width: 100%;
    margin-bottom: 60px;
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
    .sous-titre {
        // width: 100%;
        font-family: Segoe Print;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        @media (max-width: 599px) {
            img {
                width: 70px;
                // height: 1px;
            }
        }
        &--la_note {
            // width: 80%;
            font-size: 1.3em;
            margin-left: 70px;
            margin-right: 70px;
            color: #3d1319;
            // font-family: Segoe Print;
            img {
                width: 25%;
                height: 8px;
            }
        }
        &--le_chic {
            font-size: 1.3em;
            margin-left: 20px;
            margin-right: 20px;
            font-family: Cardiff V2;
            &--entrée {
                color: $clr-entree;
            }
            &--plat {
                color: $clr-plat;
            }
            &--dessert {
                color: $clr-dessert;
            }
            img {
                width: 25%;
                height: 8px;
            }
        }
        &--le_delice {
            margin-left: 40px;
            margin-right: 40px;
            font-size: 1em;
            color: #000000;
            img {
                width: 25%;
                height: 8px;
            }
        }
        &--la_palette {
            margin-left: 40px;
            margin-right: 40px;
            font-size: 1em;
            color: #000000;
            img {
                width: 25%;
                height: 8px;
            }
        }
    } 
    .texte {
        // width: 80%;
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        // margin-bottom: 0;
        // height: 40px;
        p {
            line-height: 1.2em;
        }
        &__plat {
            max-width: 75%;
        }
        &__prix {
            font-weight: bold;
            &--le_chic {
                font-size: 1.1em;
            }
        }
        &--la_note {
            margin-left: 70px;
            margin-right: 70px;
            font-family: Segoe Print;
            color: #3d1319;
        }
        &--le_chic {
            margin-left: 110px;
            margin-right: 110px;
            font-family: Cardiff V2;
            &--entrée {
                color: $clr-entree;
                font-size: 1.1em;
            }
            &--plat {
                color: $clr-plat;
                font-size: 1.1em;
            }
            &--dessert {
                color: $clr-dessert;
                font-size: 1.1em;
            }
        }
        &--le_delice {
            margin-left: 110px;
            margin-right: 110px;
            font-family: Segoe Print;
        }
        &--la_palette {
            margin-left: 110px;
            margin-right: 110px;
            font-family: Segoe Print;
        }
    }
}

// Underline text animation

.underline_animation {
    padding-bottom: 5px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background: $clr-primary;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: 250ms linear;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
            visibility: visible;
        }
    }
}

// Only for "La note" 
.final {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    // height: 200px;
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
    img {
        height: 50px;
        margin-right: 15px;
        @media (max-width: 599px) {
            height: 38px;
        }
    }
    p {
        font-family: Devonshire-Regular;
        font-size: 2.7em;
        color: #3d1319;
        @media (max-width: 599px) {
            font-size: 2em;
        }
    }
}

.btn-retour {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    margin-top: 70px;
    margin-bottom: 130px;
    @media (max-width: 599px) {
        width: 180px;
        font-size: 1.5em;
        margin-top: 60px;
        margin-bottom: 120px;
    }
    a {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        background-color: $clr-primary;
        text-decoration: none;
        color: $clr-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        // img {
        //     width: 20px;
        //     margin-right: 10px;
        // }
        &:hover {
            color: rgba(252, 201, 70, 70%);
        }
    }
}